.popup-overlai {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-contenti {
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.popup-contenti button {
    padding: 10px 20px;
    background: rgba(18, 172, 142, 0.9);
    width: 7%;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.popup-contenti button:hover {
    background: rgba(18, 172, 142, 1);
}

.popup-contenti button:focus {
    outline: none;
}

.popup-contenti h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.popup-contenti p {
    font-size: 16px;
    margin-bottom: 10px;
}

.popup-contenti span {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 2.5rem;
  color: #fffb00;
  background-color: #f8f6d7;
  border-radius: 100%;
  transition: 0.3s;
}

.service__btndois {
    padding: 0.75rem 1rem;
    outline: none;
    font-size: 1rem;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .service__btn:hover {
    color: var(--white);
    background-color: var(--primary-color);
  }


